################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/master/CSharpToTypeScript/bin
/master/CSharpToTypeScript/obj
/master/.vs/CSharpToTypeScript
/master/CSharpToTypeScript.Test/bin
/master/CSharpToTypeScript.Test/obj

/master/.vs/ProjectEvaluation/csharptotypescript.projects.v6.1
/master/.vs/ProjectEvaluation/csharptotypescript.metadata.v6.1
/master/CSharpToTypeScript.vsix/bin/Debug
/master/CSharpToTypeScript.vsix/obj
/master/TestResults
/master/CSharpToTypeScript.vsix/VSCommandTable.vsct.bak
/master/CSharpToTypeScript.vsix/source.extension.vsixmanifest.bak
/master/CSharpToTypeScript.vsix/CSharpToTypeScript.vsix.csproj.bak
/master/CSharpToTypeScript.vsix/CSharpToTypeScript.vsix.csproj.user
/master/CSharpToTypeScript.Test/TestResults
/master/CSharpToTypeScript.vsix/bin/Release
*.log
*.bak
/master/CSharpToTypeScript.Test/TestData/node_modules
/master/CSharpToTypeScript.Test/CSharpToTypeScript.Test.csproj.user
/master/CSharpToTypeScript/Properties/launchSettings.json
/master/CSharpToTypeScript/CSharpToTypeScript.csproj.user

/master/TestAssembly/bin/Debug/net7.0/TestAssembly.pdb
/master/TestAssembly/bin/Debug/net7.0/TestAssembly.dll
/master/TestAssembly/bin/Release/net7.0/TestAssembly.dll
/master/TestAssembly/bin/Release/net7.0/TestAssembly.pdb
/master/TestAssembly/obj/Debug/net7.0/ref/TestAssembly.dll
/master/TestAssembly/obj/Debug/net7.0/refint/TestAssembly.dll
/master/TestAssembly/obj/Debug/net7.0/TestAssembly.pdb
/master/TestAssembly/obj/Debug/net7.0/TestAssembly.GeneratedMSBuildEditorConfig.editorconfig
/master/TestAssembly/obj/Debug/net7.0/TestAssembly.dll
/master/TestAssembly/obj/Debug/net7.0/TestAssembly.csproj.FileListAbsolute.txt
/master/TestAssembly/obj/Debug/net7.0/TestAssembly.assets.cache
/master/TestAssembly/obj/Release/net7.0/ref/TestAssembly.dll
/master/TestAssembly/obj/Release/net7.0/refint/TestAssembly.dll
/master/TestAssembly/obj/Release/net7.0/TestAssembly.pdb
/master/TestAssembly/obj/Release/net7.0/TestAssembly.GeneratedMSBuildEditorConfig.editorconfig
/master/TestAssembly/obj/Release/net7.0/TestAssembly.dll
/master/TestAssembly/obj/Release/net7.0/TestAssembly.csproj.FileListAbsolute.txt
/master/TestAssembly/obj/Release/net7.0/TestAssembly.assets.cache
/master/TestAssembly/obj/TestAssembly.csproj.nuget.dgspec.json
/master/TestAssembly/obj/project.nuget.cache
/master/TestAssembly/obj/project.assets.json
/master/TestAssembly/obj/Debug/net7.0
/master/TestAssembly/bin/Debug/net7.0
/master/TestAssembly/obj/TestAssembly.csproj.nuget.g.props
/master/.vs/ProjectEvaluation
/master/TestAssembly/obj/Release/net7.0/TestAssembly.csproj.CoreCompileInputs.cache
/master/TestAssembly/obj/Release
